/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5996a3;
    color: #000000;
}

h1, h2, h3, h4, p {
    margin-left: 20px;
}

h1 {
    color: #010101;
    margin-left: 30px;
    margin-bottom: 0.5em;
}

h2 {
    color: #000000;
    border-bottom: 2px solid #3d536a;
    padding-bottom: 0.3em;
}

ul {
    list-style: none; /* Continues to remove default bullets */
    padding-left: 0;
    margin-left: 40px;
}

li::before {
    content: "•"; /* Unicode character for bullet */
    color: #000000; /* Choose a color that fits your design */
    display: inline-block; 
    width: 1em; /* Ensure alignment of bullets and text */
    margin-left: -1em;
}

img {
    display: inline-block;
    margin: 5px 5px;
    border-color: #000000;
    border-radius: 50%;
}

.profile-picture {
    display: inline-block;
    margin: 5px 5px;
    padding-inline: 5px 5px;
    border-color: #000000;
    border-radius: 50%;
}

.profile-picture:hover, img:hover {
    display: inline-block;
    box-shadow: 3px 3px 3px 3px rgb(131, 255, 201);
    margin: 5px 5px;
    border-radius: 50%;
    border-color: #000000;
    transition: box-shadow 0.5s ease;
}

.button {
    display: inline-block;
    box-shadow: 2px 2px 2px 2px #35475b;
    margin: 20px;
    padding: 10px 20px; /* Adjusted padding for better appearance */
    text-decoration: none;
    color: rgb(255, 255, 255); /* This will be the text color */
    background-color: #4640c7; /* Default background color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #302b88; /* Darker shade on hover */
    color:  rgb(194, 194, 194);
}



.education-entry {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-left: 20px; /* Ensure it aligns with other elements */
}

.education-title {
    font-size: 1.16em; /* Mimics h3 size */
    font-weight: 600;
}

.education-date {
    font-size: 0.83em;
}

.job-entry {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-left: 20px; /* Ensure it aligns with other elements */
}

.job-title {
    font-size: 1.16em; /* Mimics h3 size */
    font-weight: 600;
    
}

.company-name {
    font-size: 1em; /* Mimics h4 size */
}

.job-dates {
    font-size: 0.83em;
}

/* Add responsiveness */
@media (max-width: 768px) {
    h1, h2, h3, h4, p, .job-entry {
        margin-left: 10px;
    }
    
    img {
        width: 80%;
        height: auto;
    }
}
